
@{
    ViewData["Title"] = "AdminPanel";
    Layout = "~/Views/Shared/_admin.cshtml";
}
<br />
<br />
<br />
<br />
<div class="container">
    
    <h1>Düzce Üniversitesi Admin Paneline Hoş Geldiniz.</h1>
    <hr />
    <p>Yan taraftaki menüden yapmak istediğiniz işlemi seçebilirsiniz.</p>
</div>

