@model DUBitirmeTezi.Models.Akademik.MeslekYuksekokulDetay

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_admin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MeslekYuksekokuluId" class="control-label"></label>
                <select asp-for="MeslekYuksekokuluId" class="form-control" asp-items="ViewBag.MeslekYuksekokuluId"></select>
                <span asp-validation-for="MeslekYuksekokuluId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description1" class="control-label"></label>
                <input asp-for="Description1" class="form-control" />
                <span asp-validation-for="Description1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description2" class="control-label"></label>
                <input asp-for="Description2" class="form-control" />
                <span asp-validation-for="Description2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminPanel">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
