@model IEnumerable<DUBitirmeTezi.Models.Akademik.YuksekokulDetay>

@{
    ViewData["Title"] = "Yüksekokullar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_sayfaBaslik")

<section class="units">
    <div class="wrapper flex container">
        <div class="content" style="text-align:center; width: 100%;font-size:40px">
            <div class="unit-container">
                <h2 class="unit-title">Yüksek Okullar</h2>
                <hr />
                <br />
                <br />
                <div class="unit-content">
                    @foreach (var item in Model)
                    {
                        <div style="font-size:20px;margin-bottom:30px; color:dodgerblue">
                            <a asp-action="YuksekokulDetay" asp-route-id="@item.Id">
                                <p>@item.Yuksekokul.CollageName</p>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>