<section class="units">
    <div class="wrapper flex container">
        <nav>
            <ul class="nav unit-nav dn">
                <li><a href="#">Enstitü Ana Sayfa</a></li>
                <li><a href="#" class="has-submenu">Kurumsal</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">Personel</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">İç Kontrol</a><ul class="submenu"></ul></li>
                <li><a href="#">Dergiler</a></li>
                <li><a href="#">Panellerimiz</a></li>
                <li><a href="#">Anabilim/Anasanat Dalı Başkanlıkları</a></li>
                <li><a href="#">Memnuniyet Anketi</a></li>
                <li><a href="#">Dilek / İstek / Şikayet / Öneri Formu</a></li>
                <li><a href="#">📌 Öğrenci</a></li>
                <li><a href="#">📢 Duyurular</a></li>
                <li><a href="#">📞 İletişim</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="unit-container">
                <div class="first-page">



                </div>
            </div>
        </div>
    </div>
</section>