<footer>
    <div class="wrapper flex container">
        <div class="c-3 contact">
            <p>ANA KAMPÜS</p>
            <p>Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620</p>
            <p>TEL : 0850 800 81 81 </p>
            <p>FAKS: : 0380 542 11 03</p>
        </div>
        <div class="c-3">
            <div class="input-group">
                <i class="fa fa-search"></i>
                <input type="text" value="" placeholder="Arama">
            </div>
            <ul class="social">
                <li>
                    <a href="https://www.instagram.com/duzceuniversite/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/DuzceUniversite" target="_blank">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/duzceuniversite" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.duzce.edu.tr/13518-duyurus-universitemizde-whatsapp-bildirim-hatti-kuruldu" target="_blank">
                        <i class="fa fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a href="http://www.youtube.com/duzceuniversite" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-3 footer-image dn">
            <img src="/Anasayfa/footer.png" alt="Düzce Üniversitesi, Footer">
        </div>
    </div>
    <div class="copyright">
        © Copyright -
        <a href="#">Düzce Üniversitesi</a>
        <a href="#">Bilgi İşlem Daire Başkanlığı</a>
        v.1.47 - 2020
    </div>
</footer>