<section class="units">
    <div class="wrapper flex container">
        <nav>
            <ul class="nav unit-nav dn">
                <li><a href="#">Genel Bilgiler</a></li>
                <li><a href="#" class="has-submenu">Yüksekokulumuz</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">Öğrenci</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">Personel</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">Bölümler</a><ul class="submenu"></ul></li>
                <li><a href="#" class="has-submenu">Kurumsal</a><ul class="submenu"></ul></li>
                <li><a href="#">Duyurular</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Memnuniyet Anketleri</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="unit-container">
                <div class="first-page">



                </div>
            </div>
        </div>
    </div>
</section>