<section class="breadcrumb-panel">
    <div class="wrapper flex container">
        <nav class="dn">
            <div class="breadcrumb-title">Düzce Üniversitesi</div>
        </nav>
        <div class="input-group">
            <i class="fa fa-search"></i>
            <input type="text" value="" placeholder="Arama">
        </div>
    </div>
</section>

<br />