.navbar_navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_dropdown {
    float: left;
    overflow: hidden;
}

    .navbar_dropdown .navbar_btn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }


.navbar_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .navbar_dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .navbar_dropdown-content a:hover {
            background-color: #0099cc;
        }

.navbar_dropdown:hover .navbar_dropdown-content {
    display: block;
}
